* {
  margin: 0;
  padding: 0;
}

.wrapper {
  box-sizing: border-box;
  width: 1024px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
}

.contact-inf {
  border-bottom: 3px solid rgba(108, 26, 147, 1); 
  background: rgba(206, 242, 242, 1);
}
/*
 .contact-inf div {
  display: inline-block;
  margin: 20px;
}
*/
img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
}
/*
.name {
  position: relative;
  bottom: 40px;
}

.name h2 {
  font-style: italic;
  color: rgba(75, 70, 75, 1)
}

.contact {
  position: relative;
  bottom: 40px;
  left: 250px;
}

.list-unstyled {
  list-style: none;
} */